.sendMail {
  position: absolute;
  bottom: 0px;
  right: 50px;
  background-color: #ffff;
  width: 40%;
  height: 65%;
  max-width: 600px;
  min-width: 400px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 7px 0px rgba($color: #000000, $alpha: 0.24);
  form {
    display: flex;
    flex: 1;
    flex-direction: column;

    input {
      height: 30px;
      padding: 10px;
      border: none;
      border-bottom: 2px solid whitesmoke;
      outline: none;
    }

    textarea {
      padding: 10px;
      flex: 1;
      resize: none;
      border: none;
      outline: none;
      font-size: 1.2rem;
    }
  }

  &__error {
    color: rgb(243, 12, 12);
    background-color: white;
    text-align: right;
    padding: 2px;
  }
  &__header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    h3 {
      font-size: 13px;
      color: whitesmoke;
    }
  }
  &__send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 15px !important;
  }
  &__close {
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      background-color: rgba(243, 241, 241, 0.472);
    }
  }
}
